@import "modules/_defs";
@import "modules/_view";
@import "modules/_tabs";
@import "modules/_browserview";
@import "modules/_editorview";
@import "modules/_autocomplete";
@import "modules/_filetree";

* {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

html, body {
	height: 100%;
}

body {
	margin: 0;
	@include fontMonospace();
	font-size: 7.5pt;
}

#daintree {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}
